<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <div style="padding: 12px;">
      <ion-text color="tertiary">
        <h4 >ISLAMIC BROTHERHOOD FOR BAYT AL-MAL FOUNDATION</h4>
      </ion-text>
      <ion-text color="dark">
        <p>
          Registered under the Companies Act, 2019 (Act 992) of Ghana and based
           in the Upper West Region of Ghana.
        </p>
        <p>
          The objectives of the group are to Contribute and build wealth to benefit
          the Muslim Ummah, Provide support for needy Muslims and Organize or run programmes
          to propagate and promote Islam (Dawah) in the Upper West Region of Ghana
          and beyond.
        </p>
      </ion-text>
      <br>
      <ion-text color="tertiary">
        <h5>You can contact us on</h5>
      </ion-text>
      <ion-text color="dark">
        <p>
          <ion-icon color="secondary" name="call-outline"></ion-icon> Call / <ion-icon color="primary" name="logo-whatsapp"></ion-icon> WhatsApp<br/>
          +233244890170 / +233208722189 / +233243844983 / +233553706080 / +233242828501
        </p>
        <p>
          <ion-icon color="secondary" name="mail-outline"></ion-icon> Email<br/>
          <a href="mailto:islamicbrotherhoodbaytmal@gmail.com">
            islamicbrotherhoodbaytmal@gmail.com
          </a> 
        </p>
      </ion-text>
    </div>
</ion-content>
